:root{
  --light-blue-ocean: #67A1DD;
  --medium-blue-ocean: #4B8DD2 ;
  --deep-blue-ocean: #2264AB ;
  --dark-blue-ocean: #0F2741;

  --white: #EDF0F3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
   font-family: 'Work Sans', sans-serif;
   background-color: #67A1DD;
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;

}



.hero {
 
  background-image: url('/assets/images/wave_.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.nav {
  height: 200px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  transform: translateY(-100%);
  position: absolute;
  inset: 0;
  background-color:hsla(211, 62%, 16%, 0.718); 
  transition: .3s transform;
  padding: 0;
  padding-top: 200px;
  display: grid;
  grid-auto-rows: max-content;
  list-style: none;
  z-index: 10;
}

.nav__item {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1em 0;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
}

.nav__link--cta  {
  margin-top: 20px;
  border: 1px solid #FFF ;
  border-radius: 10px;
}

.nav__link{
  text-decoration: none;
  color: white;
}

.nav__logo {
  width: 80px;
  border-radius: 20%;
}

.nav__list--show {
  transform: translate(0);
}

.nav__icon {
  width: 80px;
  z-index:100;
}

/* .hero__main {
 
} */

.picture{
  margin: 0 auto;
  display: grid;
}

.img{
  width: 90%;
  height: 80%;
  margin: 0 auto;
}

.hero__texts{
  padding: 40px 0 80px;
  text-align: center;
  color: #EDF0F3;
}

.hero__title {
  font-size: 2.5rem;
  
  font-weight: 500;
}
.hero__paragraph {
  padding-top: 40px;
  font-size: 1.5rem;
}

.subtitle{
  color:var(--dark-blue-ocean);
  font-size: 2rem;
}

.main__paragraph {
  line-height: 1.3;
  margin: 20px 20 28px;
  color: var(--white);
  font-size: 1.2rem;
}

.button--cta {
  display: inline-block;
  margin: 20px 0 20px;
  text-decoration: none;
  background-color: var(--dark-blue-ocean);
  color: var(--white);
  padding: 1em 1.5em;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px -7px;
}
.main figure{
  width: 90%;
  margin: 0 auto;
}

.main__img {
 width: 200px;
}

@media only screen and (min-width: 400px) {

}