:root{
  --light-blue-ocean: #67A1DD;
  --medium-blue-ocean: #4B8DD2 ;
  --deep-blue-ocean: #2264AB ;
  --dark-blue-ocean: #0F2741;
  --darker-blue: #0A4687;

  --white: #EDF0F3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  font-family: 'Work Sans', sans-serif;
  min-height: 100vh;
}

.container{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
}

.hero {
  background-image: url('/assets/images/wave_.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh ;
}

.nav {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav__figure {
  z-index: 100;
}

.nav__hamburguer {
  z-index: 100;
  width: 80px;
  height: 80px;
  position: relative;
}

.nav__icon{
  position: absolute;
  inset: 0;
  margin: 0 auto;
}

.nav__container{
  position: absolute;
  padding: 70px 0;
  inset: 0;
  min-height: 600px;
  background-color:hsla(211, 62%, 16%, 0.708); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  transform: translate(-100%);
  transition: transform .3s;
}

.nav__container--active {
  transform: translateX(0);
}

.nav__list {
  width: 90%;
  padding: 100px 0 0 0;
  list-style: none;
}

.nav__item {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1.5rem 0;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
}

.nav__link{
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav__link--cta {
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #FFF ;
  border-radius: 10px;
}

.nav__logo, .footer__icon {
  width: 80px;
  border-radius: 20%;
}


.nav__icon {
  width: 80px;
  z-index:100;
}

.hero__main {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
} 

.picture{
 width: 90%;
 height: auto;
}

.img{
 max-width: 400px;
}

.hero__texts{
 position: relative;
  min-width: 400px;
  padding: 20px 0 20px;
  text-align: center;
  color: #EDF0F3;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 500;
}

.hero__paragraph {
  padding: 20px 0 40px;
  font-size: 1.5rem;
}

.main__information {
  gap: 20px;
  min-width: 400px;
  padding: 20px 60px;
  margin-top: auto;
  background-color: #67A1DD;
  overflow: hidden;
 }

 .main__texts, .main__picture {
  width: 100%;
  margin: 0 auto;
 }

 .main__texts, .cards__texts {
  margin: 0 auto;
  height: auto;
  padding: 20px 20px 20px;
 }

 .subtitle{
  color:var(--dark-blue-ocean);
  font-size: 2rem;
}

 .main__paragraph {
  line-height: 1.3;
  color: var(--white);
  font-size: 1.2rem;
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.button {
    text-align: center;
}

.button--cta {
  display: inline-block;
  width: 200px;
  margin: 20px 0 20px;
  text-decoration: none;
  background-color: var(--dark-blue-ocean);
  color: var(--white);
  opacity: 0.8;
  transition: 0.4s;
  padding: 1em 1.5em;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 0 10px -7px;
}

.button--cta:hover {
  opacity: 1;
}

 .main__img {
  width: 350px;
  height: auto;
 }

.testimonials__container {
  width: 100%;
  text-align: center;
  background-color: #b9d6f4;
  padding-bottom: 40px;
}

.card__texts{
 padding-top: 40px;
}

.card{
  width: 320px;
  height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.testimonial--card {
  background-color:var(--dark-blue-ocean) ;
}

.card--content {
  padding: 20px ;
}

.card__meditation {
  background-color: var(--darker-blue);
  padding: 20px ;
  border-radius: 10px;
}

.quote{
  width: 40px;
  padding-bottom: 10px;
}

.testimonial--paragraph{
  color: var(--white);
}

.card__img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px 0 10px;
  
}

.card--user {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #72ced8;
}

.card--user:hover{
  border-bottom: 2px solid var(--white);
}

footer{
  width: 100%;
  display: grid;
  grid-auto-rows:auto;
  margin: 0 auto;
  background-color: var(--darker-blue);
  padding: 20px 20px;
  color: var(--white);
  align-items: center;
}

.footer__form {
  display: block;
  margin: 20px 20px ;
}

.section--title, .footer--paragraph  {
  display: inline-block;
  line-height: 1.2;
}

.footer--paragraph{
  padding-bottom: 10px;
}

.newsletter__form input{
  padding: 1em;
  border-radius: 10px;
  border: none;
}

.footer__input {
  width: 200px;
}

.button--sus{
  display: block;
  background-color: #013e7f;
  color: var(--white);
  padding: .6em .6em;
  text-align: center;
  border-radius:.8em;
  border: none;
  margin-top: 10px;
  font-weight: 300;
  opacity: 0.8;
  transition: 0.4s;
  border: 1px solid white;
}

.button--sus:hover {
  cursor: pointer;
  opacity: 1;
}

.media__links {
  margin: 20px 0;
  font-size: 1.3rem;
}

.media__links ul li{
  display: inline-block;
}

.footer__nav {
  margin: 20px 20px;
}

.nav__links{
  list-style: none;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 40px;
}

.footer__link{
  color: var(--white);
  text-decoration: none;
}

.footer__contact {
  padding-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.footer__icon {
  width: 120px;
  margin-bottom: 16px;
}

.contact__list {
  list-style: none;
}
.footer__link  i {
  display: inline-block;
  padding-right: 10px;
}

.footer__link   a{
  display: inline-block;
  color: var(--white);
  text-decoration: none;
  margin-right: 10px;
}

.footer__copyright{
  display: block;
  padding: 2em; 
  text-align: center;
}

@media  (min-width: 480px) {

  .hero__main {
    min-height: auto;
    text-align: center;
  }

  .main__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: center;
  }

  .main__texts{
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  .main__picture{
    grid-column: 2;
    grid-row-start: 1 / span 2; 
    text-align: center;
  }

  .main__img {
    width: 400px;
    height: auto;
    padding-right: 20px;
   }

  .cards__container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

 .footer {
  gap: 2em;
  grid-template-areas: 
    "form navbar contact"
    "form navbar contact"
    "copyright copyright copyright"
  ;
  align-items: center;
 }

.footer__form{
  grid-area: form ;
}

.footer__navbar{
  grid-area: navbar
 }
 
 .footer__contact {
  grid-area: contact
 }

 .footer__copyright {
  grid-area: copyright;
 }
 
.section--title{
  padding-top: 20px;
}

.footer--paragraph {
  padding-top: 10px;
}

  .footer__link:hover{
    color: var(--medium-blue-ocean);
  }

}

@media (min-width: 768px) {
      
  .nav {
    height: 150px;
    grid-auto-flow: column;
    grid-auto-columns:max-content ;
  } 

  .nav__icon {
    display: none;
  }

  .nav__list {
    display: flex;
    position: relative; 
    transform: none;
    width: fit-content;
    gap: 1em;
    background-color: #ffffff00;    
    padding-top: 10px;
  } 


  .nav__item {
    border: none;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 500;
  }

  .cards__container{
    margin: 20px 40px;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }

  .nav__link:hover {
    color: var(--dark-blue-ocean);
    font-weight: 500;
  }

  .footer_contact{
    display: inline-block;
  }
  .footer__logo {
    width: 320px;
  }

}

@media (min-width: 780px ){
  .cards__container{
    grid-template-columns: repeat(3, 1fr);
  }

}

