:root{
  --light-blue-ocean: #67A1DD;
  --medium-blue-ocean: #4B8DD2 ;
  --deep-blue-ocean: #2264AB ;
  --dark-blue-ocean: #0F2741;

  --white: #EDF0F3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
   font-family: 'Work Sans', sans-serif;;
}


.nav__list {
  font-size: 2em;
}
